# Django Settings
DJANGO_SECRET_KEY=7&3(fexrd#$ibs!1h28n@@!x!$r4d81bw7080qgzri_gx%j3yg

# Database Configuration
DB_NAME=gold_trading
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Redis Configuration
REDIS_URL=redis://redis:6379/0

# Celery Configuration
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Kavenegar SMS API
KAVENEGAR_API_KEY=444352636A44497435616D396251307A70306E52374E79775633425970397568637A4877713161384D36513D

# Frontend Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000/api

# Allowed Hosts (comma-separated)
ALLOWED_HOSTS=localhost,127.0.0.1
